/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     display: flex;
  justify-content: center;
  background: black
}


/******************************************
/* LAYOUT
/*******************************************/
.background {
     min-height: 100vh  ;
     width: 50%;
     background: black;
     padding: 10px;
}

.typewriter h1 {
     color: rgb(0, 180, 0);
   
     font-size: 8em;
     overflow: hidden; /* Ensures the content is not revealed until the animation */
     border-right: .15em solid rgb(0, 180, 0); /* The typwriter cursor */
     white-space: nowrap; /* Keeps the content on a single line */
     margin: 0 auto; /* Gives that scrolling effect as the typing happens */
     letter-spacing: .15em; /* Adjust as needed */
     animation: 
       typing 3.5s steps(40, end),
       blink-caret .75s step-end infinite;
   }
   
   /* The typing effect */
   @keyframes typing {
     from { width: 0 }
     to { width: 100% }
   }
   
   /* The typewriter cursor effect */
   @keyframes blink-caret {
     from, to { border-color: transparent }
     50% { border-color: rgb(0, 180, 0); }
   }

.app {
     background-color: white;
     border-radius: 10px;
     margin: 200px auto 20px;
     padding: 40px;
     max-width: 550px;
}
.app h1 {
     color: rgb(229, 91, 112);
     font-size: 4em;
     text-align: center;
     
}
ul {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     padding: 0;

}


li {
     flex: 1;
     list-style: none;
     border: 5px solid black;
     width: 100px;
     height: 100px;
     text-align: center;
     font-size: 6em;
}
.r1 {
     border-top: none;
}

.r3 {
     border-bottom: none;
}

.c1 {
     border-left: none;
}

.c3 {
     border-right: none;
}

.buttonRow {
     display: flex;
     justify-content: space-around;
}

#congratulations {
     top: 0;
     position: fixed;
     width: 100%;
     pointer-events: none;
     
}
.hidden {
     display: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
